<!-- <div class="form-control formatted-page">
  <form action="/thank_you">
      <div class="card text-white bg-primary mb-4" style="max-width: 20rem; margin: 15px;">
      <div class="card-header">Contact</div>
        <div class="card-body">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">

          <label for="country">How did you hear about us?</label>
          <select id="country" name="country">
            <option value="australia">Internet Search</option>
            <option value="canada">Word of Mouth</option>
            <option value="usa">Magazine</option>
            <option value="australia">Digital Ad</option>
            <option value="canada">Social Media</option>
            <option value="usa">Other</option>
           </select>

          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

          <input type="submit" value="Submit">
        </div>
      </div>
  </form>
</div>
 -->
<br>
<div class="form-control formatted-page">
  <br>
<!-- <div class="col-md-5"> -->
    <div class="form-area">
        <form method="POST" action="https://formspree.io/10101@protonmail.ch">
<!--         <br style="clear:both"> -->
                    <h2 class="display-5">Contact us</h3>
            <br>
            <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
          </div>
                    <div class="form-group">
<!--                     <textarea type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea> -->
                    <textarea class="form-control" name="message" placeholder="Your message"></textarea>
                    </div>

<!--         <button type="button" id="submit" name="submit" ></button> -->
         <button type="submit" class="btn btn-primary pull-center">Send the message!</button>
        </form>
    </div>
  <br>
  <%= image_tag "comet-1.png", :class => "pull-center", style: "width: 120px;" %>
  <br><br>
</div>

<br>
