<div class="container">
  <section class="big-product" style="background-color: #abd7c0; margin: 0 auto;">
    <div class="row" style="height: 90vh;">
      <div class="col-md-3 product align-self-end d-none d-md-block"><%= image_tag "home-left.png", :class => "img-fluid" %></div>
      <div class="col-md-5 align-self-center">
        <center><h1 style="color: #792A1B">Connect to Experienced Digital Marketers</h1>
        <h3 style="color: #792A1B">Reach Your Customers Efficiently and Effectively</h3><br>
<!--         <p class="lead">And an even wittier subheading.And an even wittier subheading.And an even wittier subheading.And an even wittier subheading.</p> -->
        <%= link_to "LOG IN", new_user_session_path, class: "btn btn-danger text-uppercase js-scroll-trigger" %></center><br><br>
      </div>

      <div class="col-md-4 product align-self-end">
        <%= image_tag "home-right.png", :class => "img-fluid" %>
      </div>
    </div>
  </section>
</div>


<!--         <div class="intro-text">
          <div class="intro-lead-in">Clear marketing data</div>
          <div class="intro-lead-in">and bids from digital agencies</div>
          <div class="intro-heading">for your ad campaigns</div>
          <%#= link_to "LOG IN", new_user_session_path, class: "btn btn-success text-uppercase js-scroll-trigger" %>
        </div> -->


<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->



<!--     <header class="masthead">
      <div class="container">
        <div class="intro-text">
<<<<<<< HEAD
          <div class="intro-lead-in">Clear marketing data</div>
          <div class="intro-lead-in">and bids from digital agencies</div>
          <div class="intro-heading">for your ad campaigns</div>
          <h5>Log in as:</h5> -->
          <%#= link_to "business", new_user_session_path, class: "btn btn-success text-uppercase js-scroll-trigger" %>  <%#= link_to "agency", new_user_session_path, class: "btn btn-danger text-uppercase js-scroll-trigger" %>




<!--           <a class="btn btn-success text-uppercase js-scroll-trigger" href="#services">business</a>            <a class="btn btn-danger text-uppercase js-scroll-trigger" href="#services">agency</a>
        </div> -->

          <!-- <div class="intro-heading" id="adjust-height">Connect to Experienced Digital Marketers</div> -->
          <!-- <div class="intro-heading">Accept Competitive Bids</div> -->
          <!-- <div class="intro-lead-in">Reach Your Customers Efficiently and Effectively</div> -->
          <!-- <br><br> -->
          <%#= link_to "Get Started",  new_user_registration_path, class: "btn btn-success text-uppercase js-scroll-trigger" %>
<!--           <a class="btn btn-success text-uppercase js-scroll-trigger" href="#services">business</a>            <a class="btn btn-danger text-uppercase js-scroll-trigger" href="#services">agency</a> -->
        <!-- </div> -->

<!--         <div class="-content">
          <p>Clear marketing data</p>
          <p>and bids from digital agencies</p>
          <h1>for your ad campaigns</h1>
          <p>Log in as:</p>
          <a class="btn btn-warning text-uppercase js-scroll-trigger" href="#services">business</a>            <a class="btn btn-info text-uppercase js-scroll-trigger" href="#services">agency</a>
        </div>
      </div>
    </header> -->

<!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('header-bg.jpg');">
  <div class="banner-content">
    <h1>Le Wagon Berlin</h1>
    <p>Learn to code with us in Berlin</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
 -->
