<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->

    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading" id="adjust-height">Connect to Experienced Digital Marketers</div>
          <!-- <div class="intro-heading">Accept Competitive Bids</div> -->
          <div class="intro-lead-in">Reach Your Customers Efficiently and Effectively</div>
          <br><br>
          <%= link_to "Get Started",  new_user_registration_path, class: "btn btn-success text-uppercase js-scroll-trigger" %>
<!--           <a class="btn btn-success text-uppercase js-scroll-trigger" href="#services">business</a>            <a class="btn btn-danger text-uppercase js-scroll-trigger" href="#services">agency</a> -->
        </div>
<!--         <div class="-content">
          <p>Clear marketing data</p>
          <p>and bids from digital agencies</p>
          <h1>for your ad campaigns</h1>
          <p>Log in as:</p>
          <a class="btn btn-warning text-uppercase js-scroll-trigger" href="#services">business</a>            <a class="btn btn-info text-uppercase js-scroll-trigger" href="#services">agency</a>
        </div> -->
      </div>
    </header>

<!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('header-bg.jpg');">
  <div class="banner-content">
    <h1>Le Wagon Berlin</h1>
    <p>Learn to code with us in Berlin</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
 -->
