// Graphical variables
// @import "config/fonts";
// @import "config/colors";
// @import "config/bootstrap_variables";
// @import "config/bootstrap";
@import "config/bootstrap.min";
@import "config/variables";
@import "config/bootswatch";


// External libraries
// @import "bootstrap-sprockets";


@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";



body {
  background: #abd7c0;
}

.container {
  // max-width: 960px;
  // width: 100%;
  padding: 0;
  margin: 0 auto;
}










section.big-product {
    position: relative;
}
section.big-product .info {
    padding: 20px;
}
section.big-product .info ul.product-info {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%}
section.big-product .info ul.product-info li {
    padding: 0;
    margin-top: .5rem;
}
section.big-product .info ul.product-info li.size {
    margin-right: 10px;
}
section.big-product .info ul.product-info li.price {
    height: 36px;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 500;
    color: #555;
}
section.big-product .info ul.product-info li .product-quantity {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
section.big-product .info ul.product-info li .product-quantity .minus-btn, section.big-product .info ul.product-info li .product-quantity .plus-btn {
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #444;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
}
section.big-product .info ul.product-info li .product-quantity input {
    width: 50px;
    height: 36px;
    font-size: 1.1em;
    font-weight: 700;
    color: #333;
    text-align: center;
    outline: none;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}
section.big-product .info .info-wrapper::after {
    content: '';
    width: 150px;
    height: 2px;
    border-bottom: 2px solid #eee;
    display: block;
    margin: 20px 0 5px;
}
section.big-product .info a.add-to-cart {
    margin-top: 20px;
}
// @media (max-width: 767px) {
//     section.big-product .shirt {
//     max-width: 300px;
//     margin: 0 auto;
// }
// section.big-product .info {
//     text-align: center;
// }
// section.big-product .info ul.product-info {
//     display: -webkit-inline-box;
//     display: -ms-inline-flexbox;
//     display: inline-flex;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
// }
// section.big-product .info .info-wrapper::after {
//     width: 50%;
//     margin: 40px auto 20px;
// }

// .img-fluid {
//   max-width: 100%;
//   height: auto;
// }
